.feedback-form__box-input {
  padding: 10px 0;
  position: relative;
  max-width: 500px;
  width: 100%;
}

.feedback-form__text-field {
  width: 100%;
  background: none;
  border: none;
  border-bottom: solid 1px #ffffff;
  color: #ffffff;
  padding: 10px 0;
  &:focus ~ .feedback-form__label,
  &:valid ~ .feedback-form__label {
    color: white;
    font-size: 0.7rem;
    top: 0;
    top: 3px;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.feedback-form__label {
  position: absolute;
  color: #9c9c9c;
  left: 0;
  top: 20px;
  transition: 0.5s;
  pointer-events: none;
}

.feedback-form__submit {
  width: 100%;
  max-width: 150px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  &:active,
  &:focus {
    outline: none;
  }
}
