.feedback-screen {
  background: #065451;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.feedback-screen__content {
  width: 100%;
  max-width: 1024px;
}
