@import '/src/styles/mixins.scss';

.feedback-screen {
  @include screen();

  min-height: 100vh;

  &__title {
    @include screen-title();
  }

  &__content {
    @include screen-content();
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    width: 80%;
  }
}
