@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

.skills-screen {
  @include screen();
  background: gray;

  &__content {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 25px;
    width: 100%;
    max-width: $max-content-width;
    margin: 0 auto;
  }

  &__skill-container {
    padding: 1vw 0;
  }
}
