@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Regular'),
    url('../fonts/montserrat-alternates/montserrat-alternates-regular.woff2')
      format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: local('Montserrat Alternates Black'),
    url('../fonts/montserrat-alternates/montserrat-alternates-black.woff2')
      format('woff2');
  font-weight: 900;
}
