@import './vars.scss';

@mixin screen {
  width: 100%;
  min-height: $screen-height-with-triangle;
  box-sizing: border-box;
  position: relative;
  padding-top: 50px;
  z-index: 1;
}

@mixin screen-content {
  max-width: $max-content-width;
  margin: 0 auto;
}

@mixin triangle-container {
  position: absolute;
  bottom: -1px;
  height: $triangle-container-height;
  width: 100%;
  left: 0;
}

@mixin screen-title {
  font-size: 5vw;
  margin-top: 0;
}
