@import './vars.scss';

@mixin screen {
  width: 100%;
  min-height: $screen-height-with-triangle;
  box-sizing: border-box;
  position: relative;
}

@mixin triangle-container {
  position: absolute;
  bottom: -1px;
  height: $triangle-container-height;
  width: 100%;
  left: 0;
}
