@mixin screen {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: relative;
}

@mixin triangle-container {
  position: absolute;
  bottom: -1px;
  height: 7vh;
  width: 100vw;
  left: 0;
}
