@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

.about-me-screen {
  @include screen();

  background: white;
  color: #303030;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    box-sizing: border-box;
    font-size: 25px;
    max-width: $max-content-width;
  }

  &__accent {
    color: #428542;
    font-weight: 700;
  }

  &__info {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
  }

  &__info-item {
    padding: 10px 0;
    width: 50%;
  }

  &__triangle {
    @include triangle-container();
  }
}
