@import '/src/styles/mixins.scss';

.about-me-screen {
  @include screen();

  flex-direction: column;
  background: white;
  color: black;

  &__content {
    padding: 20px 0;
    box-sizing: border-box;
    min-height: 90%;
    font-size: 25px;
    width: 70%;
  }

  &__triangle {
    height: 80px;
    width: 100vw;
    margin-top: -79px;
  }
}
