@import '/src/styles/mixins.scss';
@import '/src/styles/vars.scss';

.about-me-screen {
  @include screen();

  background: #ebeff5;
  color: #303030;

  &__content {
    box-sizing: border-box;
    min-height: 100vh;
    font-size: 25px;
    width: 100%;
    max-width: $max-content-width;
    margin: 0 auto;
    display: flex;
    gap: 5vw;
    align-items: center;
  }

  &__text,
  &__skills {
    width: 50%;
  }
}
