.main-screen {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  // background: #f2f3f9;

  &__content {
    box-sizing: border-box;
    display: flex;
    min-height: 100vh;
  }

  &__section {
    height: 100vh;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    position: relative;
    z-index: 1;
    font-weight: 900;
    color: #b97470;
    font-size: 3.5vw;
    text-align: left;
    display: inline-block;

    &_color_dark {
      color: #000202;
    }
  }

  &__image-container {
    display: flex;
    width: 30vw;
    position: relative;
    z-index: 0;

    // &::before {
    //   content: '';
    //   position: absolute;
    //   width: 70vw;
    //   height: 70vw;
    //   border-radius: 60%;
    //   left: 50%;
    //   top: 50%;
    //   transform: translate(-50%, -50%);
    //   background: radial-gradient(circle, #fdffff 0%, #fdffff 30%, #f9fafe 30%, #f9fafe 50%, #f2f3f9 100%);
    //   z-index: -1;
    // }
  }
}
