.main-screen {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  transform-style: preserve-3d;

  &::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateZ(-1px) scale(2);
    z-index: -1;
    background: linear-gradient(0deg, rgb(128, 33, 139), rgb(86, 181, 184)),
      url('../../images/bg.png');
    background-blend-mode: darken;
  }
  // background: lavender;

  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-weight: 900;
    color: white;
    font-size: 20px;
    text-align: center;
  }

  &__section {
    width: 50%;
    text-align: center;
  }

  &__icon {
    width: 70%;
  }
}
