.portfolio-screen {
  background: #ffffff;
  min-height: 100vh;
  width: 100%;
  color: black;
}

.portfolio-slider {
  min-height: 100vh;
  width: 100%;
  display: flex;
}

.portfolio-slider__image-section {
  width: 50%;
}

.portfolio-slider__image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.portfolio-slider__text-section {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
