.about-block {
    overflow-y: visible;
    font-size: 1.3rem;
    padding: 20px;
    width: 100%;
    max-width: 1000px;
    display: flex;
    align-items: center;
}

.about-block__text {
    flex: none;
    width: 50%;
    text-align: right;
}

.about-block__photo-wrapper {
    padding: 0 50px;
    width: 50%;
}

.about-block__photo {
    width: 100%;
}