@import '/src/styles/vars.scss';
@import '/src/styles/mixins.scss';

.portfolio-screen {
  @include screen();

  min-height: 100vh;
  background: #fef6e4;

  &__title-slide {
    max-width: $max-content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &__title {
    font-size: 5vw;
    margin-top: 0;
    margin-bottom: 1vw;
    color: $dark-color;
  }

  &__text {
    width: 70%;
    text-align: center;
    font-size: 2vw;
  }
}

.swiper {
  width: 100%;
  height: 100vh;

  &-pagination-horizontal {
    bottom: 5vw !important;
  }

  &-pagination-bullet-active {
    background: #343f52;
  }

  &__button-prev_vertical,
  &__button-next_vertical,
  &__button-prev_horizontal,
  &__button-next_horizontal {
    border: none;
    background: none;
    position: absolute;
    z-index: 1;
    padding: 0;
  }

  &__button-prev_vertical,
  &__button-next_vertical {
    width: 4vw;
    left: 50%;
    transform: translateX(-50%);
  }

  &__button-prev_horizontal,
  &__button-next_horizontal {
    height: 4vw;
    top: 50%;
    transform: translateY(-50%);
  }

  &__button-prev_vertical {
    top: 5px;
  }

  &__button-next_vertical {
    bottom: 5px;
  }

  &__button-prev_horizontal {
    left: 5px;
  }

  &__button-next_horizontal {
    right: 5px;
  }
}
