@import '/src/styles/vars.scss';
@import '/src/styles/mixins.scss';

.portfolio-screen {
  @include screen();

  background: white;

  &__title-slide {
    max-width: $max-content-width;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-size: 5vw;
    margin-top: 0;
    color: $dark-color;
  }
}

.swiper {
  width: 100%;
  height: 100vh;

  &-button-prev::after,
  &-button-next::after {
    color: #343f52;
  }

  &-pagination-bullet-active {
    background: #343f52;
  }

  &__button-prev_vertical,
  &__button-next_vertical {
    border: none;
    background: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    width: 4%;
    padding: 0;
  }

  &__button-prev_vertical {
    top: 5px;
  }

  &__button-next_vertical {
    bottom: 5px;
  }

  // .svg-arrow {
  //   display: block;
  //   width: 100%;
  //   height: 100%;

  //   &__path {
  //     fill: $dark-color;
  //   }
  // }
}
