@font-face {
    font-family: "Raleway";
    src: url("/fonts/raleway/ralewayRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nunito";
    src: url("/fonts/nunito/nunitoRegular.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}